<h1>Albums</h1>

<p>
<a href="albums/new">New Album</a>
</p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Artist</th>
    <th></th>
    <th>Stock</th>
    <th></th>
    <th>Rating</th>
  </tr>
  <% for album in @albums %>
  <tr>
    <td><a href="/albums/<%= album.id %>"><%= album.name %></a></td>
    <td></td>
    <td><a href="/artists/<%= album.artist.id %>"><%= album.artist.name %></a></td>
    <td>|</td>
    <td><%= album.stock %></td>
    <td><% if album.stock.to_i < 10 %>
      <p id="low-stock">Low Stock!</p>
      <% elsif album.stock.to_i > 9 %>
      <p id="high-stock">High Stock</p>
      <% end %>
    </td>
    <td></td>
    <td><%= album.rating %></td>
  </tr>
  <% end %>
</table>
